body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        130deg,
        #632de0,
        #ecbff1);
}

.box{
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -255px;
}

h1{
    color: #ffffff;
    font-size: 52px;
    opacity: 0.8;
    position: relative;
    justify-self: center;
    text-align: center; 
}

.container{
    border: 2px solid #ffffff;
    width: 23vw;   
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5); 
}

.containerBox{
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

#inputField{
    border: 2px solid #d1d3d4;
    border: auto;
    margin: 0px 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 70%;
    height: 35px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

#inputField:focus{
    outline: none;
    border: 2px solid #7345df;
}


button{
    float: right;
    border: 2px solid #5a27cf;
    border-radius: 10px;
    margin: 0px 10px;
    font-size: 16px;
    width: 15%;
    height: 40px;
    background-color: #7345df;
    cursor: pointer;
    color: #ffffff;
}

#list{
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.toDo{
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e9ebec;
}

#toDoName{
    text-transform: capitalize;
}

.completed{
    text-decoration: line-through;
}



