body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(130deg, #632de0, #ecbff1);
    display: flex; /* Adicionar um display flex para centralizar o conteúdo verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 100vh; /* Fazer com que o corpo da página ocupe toda a altura da tela */
    margin: 0; /* Remover margens padrão */
}

.box{
    position: absolute;
    width: auto;
    top: 25vw;
    left: 50vw;
    margin: -18vw 0 0 -13vw;
}

h1 {
    /* As regras para h1 podem permanecer as mesmas */
    color: #ffffff;
    font-size: 52px;
    opacity: 0.8;
    position: relative;
    justify-self: center;
    text-align: center;
}

.container {
    /* As regras para .container podem permanecer as mesmas */
    border: 2px solid #ffffff;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.containerBox {
    /* As regras para .containerBox podem permanecer as mesmas */
    background-color: #ffffff;
    padding: 4% 3%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#inputField {
    border: 2px solid #d1d3d4;
    border: auto;
    margin: 0px 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
    height: 10%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

#inputField:focus {
    outline: none;
    border: 2px solid #7345df;
}

button {
    float: right;
    border: 2px solid #5a27cf;
    border-radius: 10px;
    margin: 0px 10px;
    font-size: 16px;
    width: 10%;
    height: 10%;
    background-color: #7345df;
    cursor: pointer;
    color: #ffffff;
}


